<!doctype html>
<html class="no-js"> <!--<![endif]-->
  <head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
       <style type="text/css">
          .myGrid {
              width: 100%;
              height: 300px;
            }

        </style>

        <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css">

        <!-- endbuild -->
  </head>
  <body ng-app="app">

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TP</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          
           <li><a ui-sref="login">login</a></li> 
                    
                    <div ng-if="SeVe" class="nav navbar-nav">
                     
                      <div ng-if="esAdmin" class="nav navbar-nav"> 
                        <li><a ui-sref="usuarios">usuarios</a></li> 
                        <li><a ui-sref="empleados">empleados</a></li>
                      </div>
                      
                      <div ng-if="esVend" class="nav navbar-nav"> 
                        <li><a ui-sref="clientes">clientes</a></li>
                        <li><a ui-sref="encargados">encargados</a></li> 
                      </div>                    
                      
                      <li><a ui-sref="productos">productos</a></li> 
                      <li><a ui-sref="ofertas">ofertas</a></li>
                      <li><a ui-sref="MisPedidos">pedidos</a></li>
                      
                     
                      <li><h4><div align="right"  style="color:white">{{userAVer}}</div></h4></li>
                     
                    </div>
      
      </ul>
    </div>
  </div>
</nav>
    <div class="container" ui-view></div>
 


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="bower_components/satellizer/dist/satellizer.js"></script>
    <script src="bower_components/satellizer/dist/satellizer.min.js"></script>
    <script src="scripts/app.js"></script>
 
    <!-- controllers -->
    <script src="scripts/controllers/CtrolUsuario.js"></script>
    <script src="scripts/controllers/CtrolOfertas.js"></script>
    <script src="scripts/controllers/CtrolProductos.js"></script>
    <script src="scripts/controllers/CtrolLogin.js"></script>
    <script src="scripts/controllers/CtrolEmpleados.js"></script>
    <script src="scripts/controllers/CtrolClientes.js"></script>
    <script src="scripts/controllers/CtrolEncargados.js"></script>
    <script src="scripts/controllers/CtrolPedidos.js"></script>
    

    <!-- services -->
    <script src="scripts/services/data.js"></script> 
    <script src="scripts/services/filtros.js"></script>
   
    <script src="scripts/services/usuarios/ServUsuario.js"></script> 
    <script src="scripts/services/usuarios/ServUsuarioBase.js"></script> 
    <script src="scripts/services/usuarios/Factory_bdd.js"></script> 

     <script src="scripts/services/ofertas/ServOferta.js"></script> 
    <script src="scripts/services/ofertas/ServOfertaBase.js"></script> 
    <script src="scripts/services/ofertas/FactorybddOferta.js"></script>

    <script src="scripts/services/login/Servlogin.js"></script> 
    <script src="scripts/services/login/ServloginBase.js"></script> 
    <script src="scripts/services/login/FactorybddLogin.js"></script> 

    <script src="scripts/services/productos/ServProducto.js"></script> 
    <script src="scripts/services/productos/ServProductoBase.js"></script> 
    <script src="scripts/services/productos/FactorybddProducto.js"></script>

     <script src="scripts/services/empleados/ServEmpleado.js"></script> 
    <script src="scripts/services/empleados/ServEmpleadoBase.js"></script> 
    <script src="scripts/services/empleados/FactorybddEmpleado.js"></script> 
    
    <script src="scripts/services/cliente/ServCliente.js"></script> 
    <script src="scripts/services/cliente/ServClienteBase.js"></script> 
    <script src="scripts/services/cliente/FactorybddCliente.js"></script>
 
    <script src="scripts/services/encargados/ServEncargado.js"></script> 
    <script src="scripts/services/encargados/ServEncargadoBase.js"></script> 
    <script src="scripts/services/encargados/FactorybddEncargado.js"></script> 

    <script src="scripts/services/pedidos/ServPedido.js"></script> 
    <script src="scripts/services/pedidos/ServPedidoBase.js"></script> 
    <script src="scripts/services/pedidos/FactorybddPedido.js"></script> 
 
</body>
</html>
