
<center><h3 style="background-color:white; opacity:0.7;">Encuesta de satisfaccion</h3></center>

<form style="background-color:white; opacity:0.7;" >	 
	<li>Tuvo problemas para realizar el pedido?
	Si: <input type="radio" name="problemasPRealizarPNew" value="Si">
	No: <input type="radio" name="problemasPRealizarPNew" value="No"></li>
	<br>
	<li>la descripcion de los productos fue clara?
	Si: <input type="radio" name="descripcionClaraNew" value="Si">
	No: <input type="radio" name="descripcionClaraNew" value="No"></li>
	<br>
	<li>Como llego a nosotros? 
	<select>
		<option>Internet</option>
		<option>TV</option>
		<option>Otros</option>
	</select></li>
	 

	<li>ya adquirio nuestros productos anteriormente?
	Si: <input type="radio" name="PregAdquirioOld" value="Si">
	No: <input type="radio" name="PregAdquirioOld" value="No"></li>
	<br>
	(en caso de que nunca haya realizado una compra seleccionar n/a)<br>
	<li>tiempo de entrega:
	Bueno: <input type="radio" name="tiempoEntregaOld" value="Bueno">
	Regular: <input type="radio" name="tiempoEntregaOld" value="Regular">
	Malo: <input type="radio" name="tiempoEntregaOld" value="Malo">
	n/a: <input type="radio" name="tiempoEntregaOld" value="noAplica"></li>
	<br>
	<li>calidad del producto:
	Bueno: <input type="radio" name="calidadProductoOld" value="Bueno">
	Regular: <input type="radio" name="calidadProductoOld" value="Regular">
	Malo: <input type="radio" name="calidadProductoOld" value="Malo">
	n/a: <input type="radio" name="calidadProductoOld" value="noAplica"></li>
	<br>
	<li>calidad de atencion:
	Bueno: <input type="radio" name="calidadAtencionOld" value="Bueno">
	Regular: <input type="radio" name="calidadAtencionOld" value="Regular">
	Malo: <input type="radio" name="calidadAtencionOld" value="Malo">
	n/a: <input type="radio" name="calidadAtencionOld" value="noAplica"></li>
	<br>

	<center><input type="button" name="enviar" value="enviar"></center>
</form>