<center><h3>Estadisticas</h3>
	<table><th>
<nav style="background-color:white; opacity:0.7;">
	<ul style="width:50">
	<strong>

		<li>Ventas por local</li>
		<li>ventas por local y empleado.</li>
		<li>clientes y sus compras </li>
		<li>importes por dia de trabajo.</li>
		<li>producto más vendido entre dos fechas. </li>
		<li>logins con el usuario con fecha y hora.</li>
		<li>estadísticas de las encuestas de satisfacción. </li>

	</strong>
	</ul>
	</th></table>
</nav>
</center>

<div style="background-color:white; opacity:0.9;">
<canvas id="myChart" width=50 height=50></canvas>
</div>